FORMAT: 1A
HOST: https://paperc.com/api

# PaperC B2B API documentation

This is an in-depth documentation of the PaperC Business-2-Business API.

This documentation is accessible in two ways: via [PaperC.com/docs](https://paperc.com/docs) and [Apiary.io](https://docs.paperc.apiary.io/).  
They both provide the exact same information, but the Apiary documentation gives you the option to live-test endpoints. This functionality is __not__ given in the documentation at PaperC.com.

__Please note:__ If you are watching this documentation on Apiary.io, internal links to paranthesis will not work due to Apiary's cut back Markdown implementation.  
Alternatively use the documentation [hosted on Paperc.com](https://paperc.com/docs).

# Glossary

* JWT: [JSON Web Token](https://jwt.io/)

# General API usage

* __Encoding__  
All transmitted data should be `UTF-8` encoded.
* __Media types__  
Requests should always contain `application/x-www-form-urlencoded` data.  
Endpoints will always return `application/json` data.
* __Authorization HTTP headers__  
Whenever authorization by a JWT is required, the JWT must be send in the `Authorization` HTTP header declaring the mechanism as `JWT` (e.g. `JWT your.foo.token`).

# Pagination

Some endpoints may return a large set of results (e.g. lists of books). To keep response times low, those endpoints will return __paginated data__.

A paginated result may look like this:

```javascript
{
  'count': 13,
  'next': 'https://foo.bar/endpoint?page=2',
  'previous': null,
  'results': [
    {
      'foo': 'bar'
    },
    ...
  ]
}
```

`count` the total amount of results.

`next` the URL that will return the next set of results (may be `null` if there is no next set). Note the `page=x` URL parameter.

`previous` the URL that will return the previous set of results (may be `null` if there is no previous set). Note the `page=x` URL parameter.

`results` the actual results of the current pagination set as an array of JSON objects.

Although endpoints with paginated data are preconfigured with sane default pagination sizes you may want to change the size of a pagination set.  
To do so, add the `page_size=x` parameter to the URL.

# Filtering and Ordering

__Filtering__ an endpoint can be achieved by adding a filter expression as a parameter to the URL.  
A filter expression consists of the field's name you want to filter by, followed by a double undercore, followed by the lookup type, followed by an equals sign, followed by the threshold value. A few examples:

`age__gte=21` will list any record where `age` is __greater or equals to__ 21.

`last_name__startswith=Do` will list any record where `last_name` __starts with__ 'Do'.

`last_name=Doe` will list any record where `last_name` is __exactly__ 'Doe'.

If you know the Django Web Framework, this will look very familiar to you. A list of all available lookup types can be found [here](https://docs.djangoproject.com/en/1.8/ref/models/querysets/#field-lookups).

__Ordering__ can be achieved by adding the parameter `ordering=fieldname` to the URL. A few examples:

`ordering=last_name` will order the result by __ascending__ last names.

`ordering=-last_name` will order the result by __descending__ last names.

You also may use multiple fields to refine ordering:

`ordering=-last_name,first_name` will order the result by __descending__ last names and __ascending__ first names.

# Group Common tasks and workflows
This is a step-by-step guide for a number of common tasks and workflows that you might encounter when working with our API.

## Automated user login
To make all features of PaperC available to your customer and deliver him an overall much better user experience, it's a good idea to use our automated user login system whenever you redirect a customer to our platform (e.g. to our shop or the e-book reader).

Steps:

1. [Retrieve a user JWT](#authentication-obtain-a-new-user-jwt-post) for your customer.
2. Include the retrieved JWT in the `Authorization` header of your redirecting request. Our platform will recognize the token and automatically log in the associated user!

## Obtain book lists
Book lists contain a lot of detailed information about our books that you may want to process for your own customers.  
Check out the detailed endpoint descriptions to see sample results.

Steps:

1. [Retrieve your JWT](#authentication-obtain-a-new-jwt-post)
2. `GET` [/api/booklists](#book-lists-get-all-available-book-lists-get)
3. `GET` [/api/booklist/{booklist_id}](#book-lists-get-a-particular-book-list-get)

## Offer a book to your customers
Books obtained via a book list have (amongst others) a `public_url` and a `detail_url` that you can redirect your customers to.

Steps:

1. [Obtain a book list](#header-obtain-book-lists) you want to work with.
2. Redirect your user to `https://paperc.com/<public_or_detail_url>`.  
   _Hint_: This is a good opportunity to make use of our [automated login system](#header-automated-user-login)!

# Group Authentication

## Obtain a new JWT [POST /auth/client_jwt/obtain]
Retrieve a JWT that will authenticate you as an eligible B2B user on any other endpoint.

+ Request (application/x-www-form-urlencoded)

        secret_key=mysecretkey
        
+ Response 200 (application/json)
            
    + Body
    
            {
                "token": "your.foo.token"
            }

+ Response 400 (application/json)
            
    + Body
    
            {
                "detail": {
                    "code": "SOME_ERROR_CODE",
                    "message": "A detailed description of what went wrong."
                }
            }

+ Response 403 (application/json)
            
    + Body
    
            {
                "detail": {
                    "code": "SOME_ERROR_CODE",
                    "message": "A detailed description of what went wrong."
                }
            }

## Obtain a new user JWT [POST /auth/client_jwt/obtain_user_token]
Retrieve a JWT for one of your users. The user will be created if not already existent on [paperc.com](https://paperc.com), assuming this is part of our cooperation agreement.

+ Request (application/x-www-form-urlencoded)

    + Headers
    
            Authorization: JWT your.foo.token
    
    + Attributes
    
        + user_email (required, string) - The user's email address.
        + user_language (optional, string) - The user's language. Must be 'de' or 'en'. Defaults to 'de'.
        + user_country (optional, string) - The user's country. Must be an ISO 3166-1 alpha-2 literal. Defaults to 'DE'.
    
    + Body
    
            user_email=mail@user.com
            user_language=en
            user_country=US
        
+ Response 200 (application/json)
            
    + Body
    
            {
                "token": "your.foo.token"
            }

+ Response 400 (application/json)
            
    + Body
    
            {
                "detail": {
                    "code": "SOME_ERROR_CODE",
                    "message": "A detailed description of what went wrong."
                }
            }

+ Response 403 (application/json)
            
    + Body
    
            {
                "detail": {
                    "code": "SOME_ERROR_CODE",
                    "message": "A detailed description of what went wrong."
                }
            }

# Group Book lists

## Book List [/booklists/{booklist_id}]
+ Parameters
    + booklist_id: 123 (required, number) - The unique id of the book list.

+ Attributes (Book List Base)
    + books (object)
        + count (number) - The amount of books inside this book list
        + results (array[Book], fixed) - The books of this book list
        + links (object) - Pagination links (full URL)
            + previous: null
            + next: "http://domain/api/booklists/1?page=2"

        
### Get a particular book list [GET]
Retrieve a particular book list to view the books inside.


+ Request (application/x-www-form-urlencoded)
    + Headers
    
            Authorization: JWT your.foo.token

+ Response 200 (application/json)
            
    + Attributes (Book List)
    
    + Body
    
            {
                "id": 1,
                "name": "John Doe's book list",
                "description": "This book list contains books about John's favorite subjects.",
                "books": {
                    "count": 15,
                    "results": [
                        {
                            "pk": 21465,
                            "title": "The Foo Bar Book",
                            "isbn": "9780745637167",
                            "author": "John Doe",
                            "description": "A book about all the Foo Bar in John Doe's life.",
                            "cover_image_url": "/path/to/image",
                            "cover_image_thumbnail_url": "/path/to/thumbnail",
                            "public_url": "path/to/book/in/reader",
                            "detail_url": "path/to/book/details"
                        },
                        {
                            "pk": 2433,
                            "title": "Cook Book",
                            "isbn": "1234567890012",
                            "author": "Jane Dork",
                            "description": "A book about all the Does in Jane Dork's life.",
                            "cover_image_url": "/path/to/image",
                            "cover_image_thumbnail_url": "/path/to/thumbnail",
                            "public_url": "path/to/book/in/reader",
                            "detail_url": "path/to/book/details"
                        }
                    ],
                    "links": {
                        "previous": null,
                        "next": null
                    }
                }
            }

+ Response 403 (application/json)
            
    + Body
    
            {
                "detail": {
                    "code": "SOME_ERROR_CODE",
                    "message": "A detailed description of what went wrong."
                }
            }

## Book Lists [/booklists]

+ Attributes (array)
    - (array[Book List Base]) - list of objects of

### Get all available book lists [GET]
Retrieve a list of all book lists available to you.

+ Request (application/x-www-form-urlencoded)
    + Headers
    
            Authorization: JWT your.foo.token

+ Response 200 (application/json)
    + Attributes (Book Lists)
        
        
    + Body
        
            [{
                "id": 1,
                "name": "John Doe's book list",
                "description": "This book list contains books about John's favorite subjects."
                "book_count": 15,
                "url": "/api/booklists/1"
            },
            {
                "id": 2,
                "name": "Jane Doe's book list",
                "description": "This book list contains books about John's favorite subjects."
                "book_count": 10,
                "url": "/api/booklists/2"
            }]

+ Response 403 (application/json)
            
    + Body
    
            {
                "detail": {
                    "code": "SOME_ERROR_CODE",
                    "message": "A detailed description of what went wrong."
                }
            }


            

# Data Structures

## Book List Base (object)
- id (required, number) - The unique id of the book list.
- name (required, string) - The name of the book list.
- description (required, string) - A short description of the book list.
- url (required, string) - The URL to retrieve the book list.

## Book (object)
- pk (required, number) - The unique id 
- title (required, string) - The title 
- isbn (required, number) - The ISBN 
- author (string) - The author(s) 
- description (string) - The description 
- cover_image_url - The URL of the cover image 
- cover_image_thumbnail_url - The URL of the thumbnail of the cover image
- public_url - The URL to the book in the reader application
- detail_url - The URL to the book's detail page